<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
  <% if session[:user_id].nil? %>
  <a href="/auth/mindvalley">Login here</a>
  <% else %>
  <%=link_to logout_path, 'logout' %>
  <% end %>
</p>
<h3>Landing page info</h3>
<p>Subscribe to awesome app!</p>
<ul>
	<li><a href="https://mindvalleytest-test.chargebee.com/hosted_pages/plans/basic">subscribe</a> to basic plan at some $ per month!</li>
</ul>
